PROJECT_NAME=BatchBook
DATABASE_URL=XXXXX
SUPABASE_URL=XXXXX
SUPABASE_KEY=XXXXX
RAZORPAY_KEY_ID=XXXXX
RAZORPAY_KEY_SECRET=XXXXX
META_WHATSAPP_TOKEN=XXXXX
META_WHATSAPP_PHONE_NUMBER_ID=XXXXX
WABA_ID=XXXXX
RAZORPAY_ENCRYPTION_KEY=XXXXX
FRONTEND_BASE_URL=XXXXX
ENABLE_SCHEDULER=XXXXX
ADMIN_BACKFILL_SECRET=XXXXX